# APPLE Stock Price Forecasting

### Import libraries

In [2]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#### Loading the dataset from yfinance

In [9]:
ticker = "AAPL"
df = yf.download(ticker, start="2015-01-01", end="2024-12-31", progress=False)

df.head(10)  ## loading top 10 observation from the datase

Price           Close       High        Low       Open     Volume
Ticker           AAPL       AAPL       AAPL       AAPL       AAPL
Date
2015-01-02  24.237547  24.705316  23.798597  24.694231  212818400
2015-01-05  23.554733  24.086793  23.368513  24.006984  257142000
2015-01-06  23.556963  23.816342  23.195604  23.619036  263188400
2015-01-07  23.887272  23.987032  23.654495  23.765341  160423600
2015-01-08  24.805084  24.862725  24.097887  24.215385  237458000
2015-01-09  24.831678  25.106576  24.432633  24.977994  214798000
2015-01-12  24.219824  24.969141  24.120063  24.962491  198603200
2015-01-13  24.434855  25.006819  24.144439  24.703101  268367600
2015-01-14  24.341745  24.494711  24.053546  24.173259  195826400
2015-01-15  23.681112  24.399393  23.645642  24.386092  240056000

In [12]:
rows, columns = df.shape
print(f"This dataset contains {rows} Observations overtime and {columns} columns.")

This dataset contains 2515 Observations overtime and 5 columns.